{% extends "layout/layout.html" %}


{% block content %}

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Enjoy Your Healthy<br>Delicious Food</h2>
          <p data-aos="fade-up" data-aos-delay="100">We provide the food all over the world. We are known for the Quality.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Book a Table</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/media/assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->



   <!-- ======= Menu Section ======= -->
   <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Menu</h2>
        <p>Check Our <span>Yummy Menu</span></p>
      </div>


      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">


        <div class="row gy-5">

            {% for dish in dishes  %}
            
            <div class="col-lg-4 menu-item">
                <a href="/dish/{{dish.category.name}}/{{dish.slug}}/{{dish.uid}}" ><img src="/media/{{dish.image}}" style="border-radius:50%; height:190px; width:300px" class="menu-img img-fluid" alt=""></a>
                <h4>{{dish.name}}</h4>
                <p class="ingredients">
                  {{dish.description}}
                </p>
                <p class="price">
                  ${{dish.price}}
                </p>
              </div><!-- Menu Item -->

            {% endfor %}
            
        </div>
        

        
      </div>

    </div>
  </section><!-- End Menu Section -->

{% endblock  %}

